<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <!-- Left Social -->
                <div class="header-left-social">
                    <!--<ul class="header-social">    
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>-->
                </div>
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center"style="color:black">
                            <div class="header-info-left" >
                                <ul>     
                                    <li>needhelp@gmail.com</li>
                                    <li>666 7475 25252</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>    
                                   
                                    <li><a  class="btn btn-link"  (click)="_authservice.logOutUser()" *ngIf="_authservice.loggedIn()"><i class="ti-user"></i>Logout</a></li>
                                    <!--<li><a href="#"><i class="ti-lock"></i>Register</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-sticky">
                <!-- Logo -->
                <div class="logo d-none d-lg-block">
                    <a href="index.html"><img src="assets/img/logo/logo1.png" alt=""></a>
                </div>
                <div class="container">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo logo2 d-block d-lg-none">
                            <a href="index.html"><img src="assets/img/logo/logo1.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">                                                                                          
                                    <li><a [routerLink]="['/']">Home</a></li>
                                    <li><a [routerLink]="['/about']">About</a></li>
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a [routerLink]="['/uploadvideo']">Instructors</a></li>
                                    <li><a href="blog.html">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog_details.html">Blog Details</a></li>
                                            <li><a href="elements.html">Element</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->
                        <div class="header-search d-none d-lg-block">
                            <form action="#" class="form-box f-right ">
                                <input type="text" name="Search" placeholder="Search Courses">
                                <div class="search-icon">
                                    <i class="fas fa-search special-tag"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>


   <!--? Popular Course Start -->
   <div class="popular-course section-padding30">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>Most Popular Course Of This Week</span>
                    <h2>Our Popular Course</h2>
                
                <!--<div class="section-content section-content-p30">
                    <div class="container-fluid">
                      <div class="row" >
                <div *ngFor="let tempCourses of co" class="col-md-3" style="padding-bottom: 20px;">
                <div class="course-box">
                <img src="{{tempCourses.image_url}}"class="img-responsive"style="height:80px;width:80px">
                <a [routerLink]="['/enrollcourse']" class="btn btn-link" style="font-size: 20px;">{{tempCourses.coursetitle}}</a>
                <h6>By:{{tempCourses.instructor}}</h6>
                </div>
                
                </div>
                        
                
                      </div>
                    </div>
                  </div>-->
                
                </div> 
                
            </div>
        </div>
        <div  class="row">
            <div  *ngFor="let tempCourses of co" class="col-xl-4 col-lg-4 col-md-6">
                <!-- Single course -->
                <div class="single-course mb-40">
                    <div class="course-img">
                        <img src="{{tempCourses.image_url}}" alt="">
                    </div>
                    <div class="course-caption">
                        <div class="course-cap-top">
                            
                            <h4><a href="#">{{tempCourses.coursetitle}}</a></h4>
                        </div>
                        <div class="course-cap-mid d-flex justify-content-between">
                            <div class="course-ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <ul><li>52 Review</li></ul>
                        </div>
                        <div class="course-cap-bottom d-flex justify-content-between">
                            <ul>
                                <li><i class="ti-user"></i> 562</li>
                                <li><i class="ti-heart"></i> 562</li>
                            </ul>
                            <span>Free</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-xl-4 col-lg-4 col-md-6">
                 Single course -->
                <!--<div class="single-course mb-40">
                    <div class="course-img">
                        <img src="assets/img/gallery/popular_sub2.png" alt="">
                    </div>
                    <div class="course-caption">
                        <div class="course-cap-top">
                            <h4><a href="#">Web Development</a></h4>
                        </div>
                        <div class="course-cap-mid d-flex justify-content-between">
                            <div class="course-ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <ul><li>52 Review</li></ul>
                        </div>
                        <div class="course-cap-bottom d-flex justify-content-between">
                            <ul>
                                <li><i class="ti-user"></i> 562</li>
                                <li><i class="ti-heart"></i> 562</li>
                            </ul>
                            <span>Free</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                 Single course -->
               <!-- <div class="single-course mb-40">
                    <div class="course-img">
                        <img src="assets/img/gallery/popular_sub3.png" alt="">
                    </div>
                    <div class="course-caption">
                        <div class="course-cap-top">
                            <h4><a href="#">Digital Marketing</a></h4>
                        </div>
                        <div class="course-cap-mid d-flex justify-content-between">
                            <div class="course-ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <ul><li>52 Review</li></ul>
                        </div>
                        <div class="course-cap-bottom d-flex justify-content-between">
                            <ul>
                                <li><i class="ti-user"></i> 562</li>
                                <li><i class="ti-heart"></i> 562</li>
                            </ul>
                            <span>Free</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    Section Button -->
        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-50">
                    <a href="courses.html" class="btn">Find More Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>